nav {
  background-color: black;
  text-align: left;
  height: 85px;
  /* justify-content: space-between;   */
}
.navIMG {
  align-self: left;
}
a {
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}
@media (max-width: 500px) {
  nav {
    text-align: center;
  }
}
