* {
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    
}

div {
    display: flex;
}

h2 {
    color: white;
    max-width: 500px;
}

p {
    color: white;    
}

body {
    background-color: #332A2E;
    max-width: 960px;
}

.card1 {
    padding-right: 8px;
}
.card2 {
  padding-left: 8px;
}

 /* Style the navbar */
 nav {    
    /* overflow: hidden; */
    background-color: black;
    text-align: center;    
  }
  
  .navIMG {
    margin-left: 0px;
    margin-right: 600px;
    
  }
  .ctaBtn {
    position: absolute;
    color: white;
    left:    0;
    bottom:   0;
    width: 120px;
    height: 30px;
    background-color: rgba(243, 28, 132, 0.1);
    
  }
  /* Navbar links */
a {
    /*display: block; */
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
  }
  .headerQuote {
    height: 50%;
  }
  .header-content {
      position: relative;
      display: flex;
      justify-content: flex-start;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
  .headerIMG {
      border-radius: 75%;
      width: 50%;
      height: auto;
  }
  .imageSection {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .listDiv {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  ul {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30px;
    

  }
  .liHeader {
    margin: 0px;
    width: 100%;
    height: 30px;
  }
  .imgBottom {
    width: 250%;
    border-radius: 75%;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

.bottomSection {
  display: flex;
}

  footer {
    position: fixed ;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    right: 8px;
    left: 8px;
    height: 3rem;            /* Footer height */
  }

  footer p {
    top: 15px;
  }

  @media (max-width: 500px) {

  }