/* Global */
* {
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    
}
p {
  color: white;    
}

/* Navigation */
nav {      
  background-color: black;  
  text-align: left;
  height: 85px;
  /* justify-content: space-between;   */
}
.navIMG {
  align-self: left; 
}
a {  
  color: white;    
  padding: 14px;
  text-decoration: none;
  font-size: 18px;  
}

/* Header */
h2 {
  color: white;
  max-width: 500px;
}
.header-content {  
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* height: 350px; */
}
.headerQuoteDiv {
display: flex;
flex-direction: column;
width: 50%;
}
.headerImgDiv {
/* max-width: 500px; */
width: 50%;
text-align: right;
}
.headerQuote {    
  vertical-align: top;
  }
.headerIMG {
  border-radius: 80%;
  max-width: 500px;
  max-height: 300px;
  display: block;    
}
.ctaBtn {    
  color: white;
  width: 120px;
  height: 30px;
  background-color: rgba(243, 28, 132, 0.1);
  vertical-align: bottom;
}

/* Main Content */
body {
  background-color: #332A2E;
  font-family: Ruda;
  max-width: 1920px;
}
.content {
  text-align: center;
  padding: 16px;
}
.card1 {
  display: inline-block;
  padding-right: 8px;
  justify-content: center;
}
.card1-features-p {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.card1-p {
  width: 350px;
}
.imageSection {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.listDiv {
  display: inline-block;
  width: 50%;
  text-align: center;
}
ul {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 30px;
}
.liHeader {
  margin: 0px;
  width: 100%;
  height: 30px;
}
.imgBottom {
  width: 250%;
  border-radius: 75%;
  max-width: 500px;
  max-height: 300px;

}  
.bottomSection {
  display: flex;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  right: 8px;
  left: 8px;  
  height: 2rem;            /* Footer height */
}
footer p {
  top: 15px;
}

/* About.html*/
h1 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 50px;
}
.about-P {
  font-size: 25px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  }
.aboutMain-content {
  display: inline-block;
  width: 100%;
  align-content: center;
}

.aboutIMG {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.aboutImage-div {
  display: inline-block;
  width: 100%;
  align-content: center;
  padding-bottom: 15px;
}


  @media (max-width: 500px) {
    nav {
      text-align: center;
    }
    .headerImgDiv {
      display: none;
    }
    .headerQuote {
      text-align: center;
    }
    .headerQuoteDiv {
      width: 100%;
    }
    .ctaBtn {
      display: block;
      margin: auto;
    }
    .bottomSection {
      display: flex;
      flex-direction: column;
    }
    .listDiv {
      width: 100%;
      margin-top: 10px;      
    }
    .imageSection {
      width: 100%;
    }
    .imgBottom {
      width: 75%;
      display: block;
      margin: auto;
    }
  ul {
    display: block;
    margin: auto;
    padding-bottom: 20px;
  }
  }